* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.3rem;
}

.box {
    height: 100px;
    width: 100px;
    flex-basis: 15%;
    text-align: center;
    color: white;
    font-size: 30px;
}

.red {
    background: red;
}

.orange {
    background: orange;
}

.green {
    background: green;
}